
<label>First Name: </label><%= @user.first_name %>
<label>Last Name: </label><%= @user.last_name %>
<label>Email: </label><%= @user.email %>


<a href="users/<%= user.id %>/edit" hidden_method='patch'>Edit</a>
<h4><a href="/users/"></a>Back</h4>
